body{
    background: url("https://img.freepik.com/fotos-gratis/luxo-abstrato-desfocar-gradiente-cinza-escuro-e-preto-usado-como-parede-de-estudio-de-fundo-para-exibir-seus-produtos_1258-54552.jpg?w=826&t=st=1668901591~exp=1668902191~hmac=5027952f7287b79fb4b01f245f2789d5ebaf6fad50d3482318041f9249e180fe");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}